.courseview {
	display: block;
	overflow: hidden;
	height: 100%;
	background: #2b2f3e;

	.menu {
		color: #FFFFFF;
		height: 100%;
		padding-left: 0;
		padding-right: 0;
		display: block;

		.menubox {
			display: block;
			height: 100%;
			overflow: hidden;
		}

		h3, h4, h5 {
			margin: 0;
			padding-left: 30px;
		}

		h3.title {
			font-size: 18px;
			
			.navlink {
				float: left;
				margin-top: -14px;
			}
		}
		a {
			color: #82848a;
			text-decoration: none;
			word-spacing: 3px;

			&:hover {
				color: #E1E1E1;
			}
		}
		a.learned {
			color: #E1E1E1;

			&:hover {
				color: #F1F1F1;
			}
		}
		a.active {
			color: #7edcee;

			&:hover {
				color: #7edcee;
			}
		}

		.zhangbox {
			h4 {
				font-size: 16px;
				padding-top: 27px;
				padding-bottom: 27px;
				cursor: pointer;

				&:hover {
					color: #FFFFFF;
					background: #7edcee;

					a {
						color: #F1F1F1;
					}
				}
			}
			.jiebox {
				display: none;
				padding-left: 30px;
				padding-bottom: 15px;

				h5 {
					margin-left: 14px;
					padding-left: 0;
					padding-top: 15px;
					padding-bottom: 15px;

					a {
						font-size: 14px;
						padding-left: 18px;
					}
					a::before {
						display: none;
					}
					a.active::before {
					    display: block;
					    content: " ";
					    font-size: 14px;
						background: #7edcee;
					    width: 8px;
					    height: 8px;
					    float: left;
					    margin-top: -11px;
					    position: absolute;
					    border-radius: 4px;
					}
				}
				h5::before {
				    content: " ";
				    font-size: 14px;
				    margin-left: 4px;
					padding: 15px 5px 15px 5px;
				    border-left: 1px solid #555968;
				}
				h5:first-child {
					a::before {
						margin-top: -13px;
					}
				}
				h5:first-child::before {
				    border-top: 1px solid #555968;
				    margin-top: 6px;
				    display: block;
				    float: left;
				}
				h5:last-child::before {
				    border-bottom: 1px solid #555968;
				    margin-top: -22px;
				    display: block;
				    float: left;
				}
				.first.last::before {
					border-bottom: 1px solid #555968;
				    margin-top: 7px;
				    display: block;
				    float: left;
				    height: 0;
				    padding-top: 0;
				    padding-bottom: 0;
				    border-top: 0;
				}
				.first.last {
					a.active::before {
				    	margin-top: -11px;
				    }
				}
			}
		}
		.zhangbox.expand {
			background: url("../images/web/course_menu_expand_bg.png") repeat-y left #373c4e;
			border-top: 1px solid #747474;

			.jiebox {
				display: block;
			}
		}

		@media screen and (-webkit-min-device-pixel-ratio:0) {
			.zhangbox {
				.jiebox {
					h5:first-child {
						a::before {
							margin-top: 3px;
						}
					}
					h5:last-child {
						a::before {
							margin-top: 4px;
						}
					}
					.first.last {
						a.active::before {
					    	margin-top: 3px;
					    }
					}
				}
			}
		}
	}

	.view {
		background: #EEEEEE;
		color: #000;
		height: 100%;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 100px;
		overflow: hidden;

		h2.title {
			background: #FFFFFF;
			margin: 0;
			overflow: hidden;
			border-bottom: 1px solid #EEEEEE;

			img.colspan {
				float: left;
				display: none;
				margin-top: 3px;
				margin-right: 20px;
				cursor: pointer;
			}
			img.xiala {
				float: right;
				display: none;
				margin-top: 3px;
				margin-left: 20px;
				cursor: pointer;
			}
			span {
				display: block;
				float: left;
				height: 24px;
				line-height: 24px;
				margin-left: 0px;
			}
		}

		.content {
			padding: 0;
			z-index: 1;
			margin-bottom: 20px;
			height: 100%;
			overflow: hidden;

			.contentview {
				min-height: 100%;
				// text-align: center;
			}

			.mdview {
				margin-top: 0;
				padding-top: 10px;
				background: #FFFFFF;
			}
		}

		.faq {
			margin-left: 30px;
			margin-top: 10px;
			margin-bottom: 10px;
			background: #FFFFFF;
			border-radius: 5px;
			padding-top: 20px;
			padding-bottom: 20px;
			display: block;
			overflow: hidden;
			clear: both;

			h4 {
				font-size: 17px;
				padding-left: 0px;

				span.icon {
					position: absolute;
					width: 8px;
					height: 8px;
					display: block;
					background: #7edcee;
					border-radius: 4px;
					margin-top: 3px;
				}
				span.title {
					margin-left: 20px;
				}
			}

			ul {
				margin-top: 15px;

				li {
					padding-left: 20px;
					padding-top: 10px;
					padding-bottom: 10px;

					a {
						color: #000;
						font-size: 13px;

						&:hover, &:focus {
							color: #7edcee;
						}
					}
					a.active {
						color: #7edcee;
						text-decoration: underline;

						&:hover, &:focus {
							color: #7edcee;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 320px) {
	.courseview {
		.menu {
			display: none;

			h3.title {
				padding: 25px 0 25px 11px;
			}
		}

		.view {
			h2.title {
				font-size: 20px;
				padding: 13px 30px 13px 30px;

				img.colspan {
					display: none;
				}
				img.xiala {
					display: block;
				}
			}

			.content {
				.contentview {
					padding: 0;

					object {
						width: 100%;
						height: auto;
					}
				}

				.mdview {
					padding-top: 10px;
				}
			}

			.faq {
				display: none;
			}
		}
	}
}
@media (min-width: 1200px) {
	.courseview {
		.menu {
			display: block;

			.menubox {
				padding-bottom: 100px;
			}

			h3.title {
				padding: 45px 0 35px 11px;
			}
		}

		.view {
			h2.title {
				font-size: 24px;
				padding: 38px 30px 38px 30px;

				img.colspan {
					display: block;
				}
				img.xiala {
					display: none;
				}
			}

			.content {
				.contentview {
					padding-left: 30px;
					padding-bottom: 20px;

					object {
						width: 840px;
						height: 470px;
					}
				}

				.videoview {
					padding-top: 30px;
				}

				.mdview {
					padding-top: 10px;
				}
			}

			.faq {
				display: block;
			}
		}
	}
}