.userc {
	margin-bottom: 0;
}
.userc li {

}
.userc li a, .userc li span {
	display: block;
	line-height: 20px;
	padding: 10px 15px;
}
$coursecolor: #666;
.course{
   border: 1px solid #696;text-align: center;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow:$coursecolor 0px 0px 10px;
   -moz-box-shadow:$coursecolor 0px 0px 10px;
   box-shadow: $coursecolor 0px 0px 10px;
   margin-left:2%; margin-right:6%;
   margin-bottom:6%;
 }

@media (min-width: 768px) {
	.userc {
		float: right;
	}
	.userc li {
		float: left;
		display: block;
	}
	.userc li a, .userc li span {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
