$navacolor: #f3adb3;
$navahover: #FFFFFF;
$navasize: 19px;

@mixin nav-a-p {
	padding-left: 20px;
	padding-right: 20px;
}

.navbar {
	margin-bottom: 0;
	border: 0;
}
.navbar-default {
	background-color: transparent;

	a {
		color: $navacolor;
		font-size: $navasize;
		font-weight: bold;
		margin-left: 0;
		@include nav-a-p;

		&:hover, &:focus {
			color: $navahover;
		}
	}
	a.navbar-brand {
		height: 70px;
		padding: 25px 25px;
		margin-left: 0;
		color: #E1E1E1;
		font-size: $navasize;

		&:hover, &:focus {
			color: #E1E1E1;
		}
	}
	.navbar-nav {
		margin-left:  0;
		margin-right:  0;

		li > a {
			color: $navacolor;

			&:hover, &:focus {
				color: $navahover;
			}
		}
	}
}
.userc {
	margin-bottom: 0;
}
.userc li {

}
.userc li a, .userc li span {
	color: #FFFFFF;
	display: block;
	line-height: 20px;
	padding: 10px 15px;
}
.userc li a.logout {
	color: #f3adb3;
	font-size: 15px;
}

$coursecolor: #666;
.course{
	padding: 20px 15px 5px 15px;
	border: 1px solid #696;text-align: center;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow:$coursecolor 0px 0px 10px;
	-moz-box-shadow:$coursecolor 0px 0px 10px;
	box-shadow: $coursecolor 0px 0px 10px;
	//margin-left:2%; margin-right:6%;
	margin-bottom:6%;
}

@media (min-width: 320px) {
	.navbar-default {
		a {
			margin-top: 0;
		}

		.navbar-toggle {
			border: 0;
		    padding: 0;
		    margin-top: 13px;
		    margin-bottom: 0;
		}

		.navbar-toggle:hover, .navbar-toggle:focus {
			background-color: transparent;
		}
	}
}

@media (min-width: 768px) {
	.navbar-default {
		a {
			margin-top: 15px;
		}
	}
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin-left: 0;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.userc {
		float: right;
	}
	.userc li {
		float: left;
		display: block;
	}
	.userc li a, .userc li span {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.course img.courseimg {
		width: 520px;
		height: 390px;
	}
}