<script src='//player.polyv.net/script/polyvplayer.min.js'></script>
<script src="plugins/malihu-custom-scrollbar-plugin-3.1.3/jquery.mCustomScrollbar.concat.min.js"></script>
<div class="courseview">
	<div id="menu" class="menu">
		<h3 class="title" ng-cloak class="ng-cloak">
			<a href="javascript:;"><img src="images/web/icon_arrow_left.png" class="img-responsive navlink"></a>
			<span>{{$courseview.title}}</span>
		</h3>
		<div id="menubox" class="menubox">
			<div class="zhangbox expand {{$zhanginfo.expandclass}}" ng-repeat="$zhanginfo in $courseview.chapterIs">
				<h4 ng-click="zhangExpand($event)"><a href="javascript:;" class="learned">{{$zhanginfo.title}}</a></h4>
				<div class="jiebox">
					<h5 class="{{$jieinfo.classn}}" ng-repeat="$jieinfo in $courseview.chapterIIs[$zhanginfo.chapterid]">
						<a href="javascript:;" ng-click="chapterview($event, courseid, $jieinfo.chapterid)" class="" ng-if="($jieinfo.chapterid!=chapterid) && (!$jieinfo.study || $jieinfo.study==0)">{{$jieinfo.title}}</a>
						<a href="javascript:;" ng-click="chapterview($event, courseid, $jieinfo.chapterid)" class="learned" ng-if="($jieinfo.chapterid!=chapterid) && ($jieinfo.study==1)">{{$jieinfo.title}}</a>
						<a href="javascript:;" ng-click="chapterview($event, courseid, $jieinfo.chapterid)" class="active" ng-if="$jieinfo.chapterid==chapterid">{{$jieinfo.title}}</a>
					</h5>
				</div>
			</div>
		</div>
	</div>
	<div id="view" class="view">
		<h2 class="title">
			<img src="images/web/icon_colspan_list.png" class="colspan" ng-click="menuExpand($event)">
			<span>{{$chapterinfo.title}}</span>
			<img src="images/wap/@1x/xiala@1x.png" class="xiala img-responsive" ng-click="menuToggle($event)">
		</h2>
		<div id="cview" class="content col-xs-12">
			<div id="mdview" class="contentview mdview col-xs-12" ng-bind-html="$chapterinfo.markdowncontent" ng-if="($chapterinfo.ty==1)||($chapterinfo.ty==3)">
			</div>
			<div id="videoview" class="contentview videoview col-xs-12" ng-if="$chapterinfo.ty==2">
			</div>
		</div>
		<div class="faq" ng-if="$chapterinfo.ty==2">
			<div class="col-xs-12">
				<!-- <h4><span class="icon"></span><span class="title">常见问题</span></h4>
				<ul class="list-unstyled">
					<li><a href="javascript:;">这节课主要讲了什么？</a></li>
					<li><a href="javascript:;" class="active">我的路径怎么看？</a></li>
					<li><a href="javascript:;">找不到标签怎么办？</a></li>
					<li><a href="javascript:;">为什么使用lxml？</a></li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<style type="text/css">
@media screen and (min-width: 1200px) {
	.contenter {
      background: url("images/web/contenter_bg_top.png") repeat-x #EEEEEE;
      background-size: 100% 137px;
      min-height: 100%;
	}
	.contenter .container {
      background: #EEEEEE;
	}
}
@media screen and (min-width: 1441px) {
	.contenter {
      background-size: 100% 184px;
	}
}
</style>
<script type="text/javascript">
$(function () {
	var htop = parseInt($(".header").height());
	var mpb = parseInt($("#menubox").css("padding-bottom"));
	$(window).scroll(function(event) {
		var wstop = parseInt($(window).scrollTop());
		if (wstop <= 10) {
			$("#menu").css({
				top: htop+"px"
			});
			$("#menubox").css({
				"padding-bottom": mpb+"px"
			});
			$("#menubox").mCustomScrollbar("update");
		} else if (wstop <= htop) {
			$("#menu").css({
				top: (htop-wstop) + "px"
			});
			$("#menubox").css({
				"padding-bottom": (mpb-wstop)+"px"
			});
			$("#menubox").mCustomScrollbar("update");
		} else {
			$("#menu").css({
				top: "0px"
			});
			$("#menubox").css({
				"padding-bottom": (mpb-htop)+"px"
			});
			$("#menubox").mCustomScrollbar("update");
		}
	});
})
</script>