<div class="courseview">
	<div class="menu col-lg-3 col-sm-12">
		<h3 class="title" ng-cloak class="ng-cloak">{{$courseview.title}}</h3>
		<div class="zhangbox {{$zhanginfo.expandclass}}" ng-repeat="$zhanginfo in $courseview.chapterIs">
			<h4><a href="javascript:;" class="learned">{{$zhanginfo.title}}</a></h4>
			<div class="jiebox">
				<h5 class="{{$jieinfo.classn}}" ng-repeat="$jieinfo in $courseview.chapterIIs[$zhanginfo.chapterid]">
					<a href="javascript:;" class="" ng-if="($jieinfo.chapterid==$chapterid) && ($jieinfo.study==0)">{{$jieinfo.title}}</a>
					<a href="javascript:;" class="learned" ng-if="($jieinfo.chapterid==$chapterid) && ($jieinfo.study==1)">{{$jieinfo.title}}</a>
					<a href="javascript:;" class="active" ng-if="$jieinfo.chapterid==$chapterid">{{$jieinfo.title}}</a>
				</h5>
			</div>
		</div>
	</div>
	<div class="view col-lg-9 col-sm-12">
		<h2 class="title">
			<img src="../images/web/icon_colspan_list.png" class="colspan">
			<span>认识网页的构成</span>
		</h2>
		<div class="video">
			<!-- <img src="../images/web/pic.png" class="img-responsive"> -->
			<div id='videoview'></div>
		</div>
		<div class="faq">
			<!-- <h4><span class="icon"></span><span class="title">常见问题</span></h4>
			<ul class="list-unstyled">
				<li><a href="javascript:;">这节课主要讲了什么？</a></li>
				<li><a href="javascript:;" class="active">我的路径怎么看？</a></li>
				<li><a href="javascript:;">找不到标签怎么办？</a></li>
				<li><a href="javascript:;">为什么使用lxml？</a></li>
			</ul> -->
		</div>
	</div>
</div>