<div id="CourseContainer">
	<div id="pythonimg" class="pythonimgbox">
		<img src="images/web/tutorial/P.png" class="img-responsive pythonimg pythonimg_P">
		<img src="images/web/tutorial/Y.png" class="img-responsive pythonimg pythonimg_Y">
		<img src="images/web/tutorial/T.png" class="img-responsive pythonimg pythonimg_T">
		<img src="images/web/tutorial/H.png" class="img-responsive pythonimg pythonimg_H">
		<img src="images/web/tutorial/O.png" class="img-responsive pythonimg pythonimg_O">
		<img src="images/web/tutorial/N.png" class="img-responsive pythonimg pythonimg_N">
	</div>
	<div class="section" id="section0">
		<div class="bgdot"></div>
		<div class="sectionbox">
			<div class="andywarhol">
				<img src="images/web/tutorial/andy_warhol.png" class="andywarholimg img-responsive">
				<img src="images/web/tutorial/andy_warhol_code.png" class="andywarholcode img-responsive">
				<img src="images/web/tutorial/andy_warhol_word.png" class="andywarholword img-responsive">
			</div>
			<div class="cocacola">
				<img src="images/web/tutorial/cocacola.png" class="img-responsive">
			</div>
			<div class="pythonword">
				<img src="images/web/tutorial/pythonword_p1.png" class="img-responsive pythonword_p1">
				<img src="images/web/tutorial/pythonword_p2.png" class="img-responsive pythonword_p2">
				<p class="word">终于有一本好看的<span>Python</span>入门书了</p>
			</div>
			<div class="cocacodebox">
				<img src="images/web/tutorial/cocacode.png" class="img-responsive cocacode">
			</div>
			<div class="cocacode_cola">
				<img src="images/web/tutorial/cocacode_cola.png" class="img-responsive">
			</div>
		</div>
		<div class="next"><img src="images/web/tutorial/next.png" class="img-responsive"></div>
	</div>
	<div class="section moveDown" id="section1">
		<div class="bgdot2"></div>
		<div class="sectionbox">
			<div class="andywarhol">
				<img src="images/web/tutorial/andy_warhol.png" class="andywarholimg img-responsive">
				<img src="images/web/tutorial/andy_warhol_code.png" class="andywarholcode img-responsive">
				<img src="images/web/tutorial/andy_warhol_word.png" class="andywarholword img-responsive">
			</div>
			<div class="cocacola">
				<img src="images/web/tutorial/cocacola.png" class="img-responsive">
			</div>
			<div class="pythonword">
				<img src="images/web/tutorial/pythonword_p1.png" class="img-responsive pythonword_p1">
				<img src="images/web/tutorial/pythonword_p2.png" class="img-responsive pythonword_p2">
				<p class="word">终于有一本好看的<span>Python</span>入门书了</p>
			</div>
			<div class="cocacodebox">
				<img src="images/web/tutorial/cocacode.png" class="img-responsive cocacode">
			</div>
			<div class="cocacode_cola">
				<img src="images/web/tutorial/cocacode_cola.png" class="img-responsive">
			</div>
			<div class="pythondesc text-center">
				<h1>为什么有些编程书让你从入门到放弃？</h1>
				<p class="title">编程越来越成为一个重要的技能，很多零基础小白选择把 Python 作为第一门编程语言。</p>
				<p class="desc">但是，很多教程并不是为了小白而设计的。当你兴致勃勃地翻开教程第一页，却发现各种枯燥难懂的抽象概念让你头晕，最后失去兴趣不得不放弃。这就好像是为了学习中文，先开始背字典，这明显不科学。</p>
				<p class="end">而魔力教程，将是第一本粘着你读下去的编程书。</p>
			</div>
		</div>
		<div class="next"><img src="images/web/tutorial/next.png" class="img-responsive"></div>
	</div>
	<div class="section moveDown" id="section2">
		<div class="sectionbox">
			<img src="images/web/tutorial/big_p.png" class="img-responsive sectionbigp">
			<div class="classsectionbox">
				<p class="no">001</p>
				<img src="images/web/tutorial/icon_sanjiao.png" class="img-responsive">
				<div class="word">
					<p class="title">为什么可乐能让你理解类和实例化的<br/>概念？</p>
					<p class="more">更多</p>
					<p class="moref">...</p>
				</div>
			</div>
			<div class="classsectionword">
				为了让小白能理解，小白教程运用了大量的插图和类比，复杂的东西被很简单的讲清楚。
				读了魔力教程，你会发现学编程不再像是背字典，而更像是打游戏，在挑战自己的过程 中无比的专注与愉悦，时间不知不觉就过去了。
			</div>
			<div class="classsectionpic">
				<img src="images/web/tutorial/class_cocacola.png" class="img-responsive classsectionpic_img">
				<img src="images/web/tutorial/class_cocacola_hover.png" class="img-responsive classsectionpic_img_hover">
			</div>
		</div>
		<div class="next"><img src="images/web/tutorial/next.png" class="img-responsive"></div>
	</div>
	<div class="section moveDown" id="section3">
		<div class="sectionbox">
			<img src="images/web/tutorial/big_y.png" class="img-responsive sectionbigy">
			<div class="functionsectionbox">
				<p class="no">002</p>
				<img src="images/web/tutorial/icon_sanjiao.png" class="img-responsive">
				<div class="word">
					<p class="title">学了基础知识，就能1分钟概览一本<br/>英文书？</p>
					<p class="more">更多</p>
					<p class="moref">...</p>
				</div>
			</div>
			<div class="functionsectionword">
				为了让你更高效的学习，小白教程着重强调了那些最重要的 "最少必要知识" <br/>
				正如学习一门外语时，掌握最常见的1500-2000个字就能看懂80%的文字。编程中的 “最少必要知识”对应的是编程常识知识以及编程思维方式，
				先用这些关键的知识构建你的知识体系会让学习效率加速，这是比一开始就钻到各种细枝末节更好的学习方式。
			</div>
			<div class="functionsectionpic">
				<img src="images/web/tutorial/function_code.png" class="img-responsive classsectionpic_img">
				<img src="images/web/tutorial/function_code_hover.png" class="img-responsive classsectionpic_img_hover">
			</div>
		</div>
		<div class="next"><img src="images/web/tutorial/next.png" class="img-responsive"></div>
	</div>
	<div class="section moveDown" id="section4">
		<div class="sectionbox">
			<img src="images/web/tutorial/big_t.png" class="img-responsive sectionbigt">
			<div class="execsectionbox">
				<p class="no">003</p>
				<img src="images/web/tutorial/icon_sanjiao.png" class="img-responsive">
				<div class="word">
					<p class="title">学了魔力教程，就能快速上手小项目？</p>
					<p class="more">更多</p>
					<p class="moref">...</p>
				</div>
			</div>
			<div class="execsectionword">
				我们都知道，编程是边学边练的。练习很重要，但是实用的练习更重要。<br/>
				在小白教程里，不会让你计算1+2，小明身高这种无聊的儿童数学题。而是让你一步<br/>
				步挑战真实项目。当你独立解决了真实存在的问题之后，你会非常有成就感。
			</div>
			<div class="execsectionpic">
				<img src="images/web/tutorial/exec_code.png" class="img-responsive classsectionpic_img">
				<img src="images/web/tutorial/exec_code_hover.png" class="img-responsive classsectionpic_img_hover">
			</div>
		</div>
		<div class="next"><img src="images/web/tutorial/next.png" class="img-responsive"></div>
	</div>
	<div class="section moveDown" id="section5">
		<div class="sectionbox" style="overflow: inherit;">
			<h1 class="personsectiontitle text-center">
				8765人正在学习魔力教程
			</h1>
			<ul class="row text-center list-unstyled personsectionbox">
				<li class="col-xs-4">
					<div class="personbox">
						<img src="images/web/tutorial/person_a.png" class="img-responsive center-block">
						<p class="name">娄肖杰</p>
						<p class="position">测试工程师</p>
						<p class="desc">
							"学Python断断续续半年了，却还是迷迷糊糊的。接触了魔力教程之后脑子清醒了，爱上Python了。简洁、清晰、易读、有逻辑，上班冒着被发现的风险也控制不住的想学。"
						</p>
					</div>
				</li>
				<li class="col-xs-4">
					<div class="personbox">
						<img src="images/web/tutorial/person_b.png" class="img-responsive center-block">
						<p class="name">陈超</p>
						<p class="position">IT</p>
						<p class="desc">
							"看完魔力教程之后，又看可一个多月的核心编程书籍，自学那段时间间才发现你们写的真不错，国内没有写的更好的了。"
						</p>
					</div>
				</li>
				<li class="col-xs-4">
					<div class="personbox">
						<img src="images/web/tutorial/person_c.png" class="img-responsive center-block">
						<p class="name">崔怀舟</p>
						<p class="position">前端工程师</p>
						<p class="desc">
							写得很细致，比我入门看的A Byte Python更适合零基础的新手。
						</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="section fp-auto-height tutorialfoot">
		<div class="sectionbox">
			<div class="links row text-center">
				<div class="col-xs-6 item">
					<h1>去下载小白教程</h1>
					<img src="images/web/tutorial/turing.png" class="img-responsive center-block">
					<a href="http://www.ituring.com.cn/book/1863" class="btn btn-link" target="_blank">点击进入>>></a>
				</div>
				<div class="col-xs-6 item">
					<h1>同样精彩的爬虫实战课</h1>
					<img src="images/web/tutorial/wangyi.png" class="img-responsive center-block" style="margin-top: 77px;">
					<h1 style="margin-top: -5px;">网易云课堂</h1>
					<a href="http://study.163.com/course/courseMain.htm?courseId=1002794001" class="btn btn-link" style="margin-top: 65px;" target="_blank">点击进入>>></a>
				</div>
			</div>
		</div>
		<div class="tfoot">
			<div class="sectionbox" style="overflow: inherit;">
				<div class="cp">&copy;北京螃蟹科技有限公司 京ICP备15047012号</div>
				<div class="icons">
					<div class="icon icon_weibo">
						<a href="http://weibo.com/u/5914307416" target="_blank" style="color: #77c4d3; text-decoration: none;">
							<img src="images/web/tutorial/icon_weibo.png"><span>关注微博</span>
						</a>
					</div>
					<div class="icon icon_weixin">
						<img src="images/web/tutorial/icon_weixin.png" class="icon_weixin_img">
						<img src="images/web/tutorial/icon_weixin_hover.png" class="icon_weixin_img_hover">
						<span>关注微信</span>
						<img src="images/web/tutorial/wx_qrcode.png" class="wxqrcode">
					</div>
					<div class="icon icon_qq">
						<img src="images/web/tutorial/icon_qq.png"><span>咨询QQ：284965791</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
@media screen and (min-width: 1200px) {
	.contenter .container {
      width: 100%;
	}
}
@media screen and (min-width: 1441px) {
	.contenter .container {
      width: 100%;
	}
}
</style>