<div class="jumbotron" ng-cloak>
  <h1>你好, {{$userinfo.name}}!</h1>

  <p>欢迎来到麻瓜编程的世界</p>
</div>
<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-right">

      <div ng-repeat="$course in $mycourseList.items">
        <div class="col-xs-12 col-sm-6">
          <div class="course" ng-cloak>
            <a href="#/courseview/courseid/{{$course.courseid}}">
              <img src="{{$course.logo}}" class="img-responsive center-block courseimg">
            </a>

            <h3>{{$course.title}}</h3>

            <p align="right" style="margin-right: 10px">
              <a class="btn btn-success" href="#/courseview/courseid/{{$course.courseid}}" role="button">继续学习</a></p>
          </div>
        </div>
      </div>
      
    <!--/row-->
  </div>
  <!--/.col-xs-12.col-sm-9-->
</div>
