<div class="mainbox protocolbox">
	<div class="protocol center-block" style="width: 1200px;">
		<h1 class="text-center" style="font-size: 39px;">用户协议</h1>

		<p>欢迎您来到麻瓜编程。</p>

		<p>请您仔细阅读以下条款，如果您对本协议的任何条款表示异议，您可以选择不注册麻瓜编程。当您注册成功，成为麻瓜编程的用户（包括注册用户和付费用户），均意味着您（即「用户」）完全接受本协议项下的全部条款。</p>

		<h2>一、使用规则</h2>
		<p>
		1、用户注册成功后，麻瓜编程将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。 
		<br/>
		2、用户承诺不得以任何方式利用麻瓜编程直接或间接从事违反中国法律以及社会公德的行为，麻瓜编程有权对违反上述承诺的内容予以删除。
		</p>
		<h2>二、账号管理规则</h2>
		<p>
		1、用户应自行负责妥善且正确地保管、使用、维护其在麻瓜编程的账户及账户密码。由个人原因致使账户密码泄漏以及因用户保管、使用、维护不当造成损失的，麻瓜编程不负责帮助用户找回密码，且无须承担与此有关的任何责任。
		<br/>
		2、用户不得将帐号、密码转让、出借或以任何脱离用户控制的形式交由他人使用。如因用户私自出借或转让帐号的行为而侵害麻瓜编程及相关权利人的权利时，用户需承担相关责任，并赔偿经济损失。 
		<br/>
		3、如您违反本服务条款中的内容，麻瓜编程有权在不通知您的情况下立即终止您已购买的所有服务，以及取消您的麻瓜编程账户和使用权限，但不退还任何已缴纳的收费服务费用。
		</p>
		<h2>三、知识产权声明与免责</h2>
		<p>
		1、麻瓜编程提供的收费视频课件服务中包含的任何文本、图片、图形、音频和/或视频资料均受版权、商标和/或其它财产所有权法律的保护，均属麻瓜编程所有，未经权利人或利害关系人的同意，用户均不得以任何商业或非商业目的复制、传播、销售等行为使用上述资料。 
		<br/>
		2、我司麻瓜编程网络营销课程依法受著作权保护，并且我司已采取侵权防范技术手段，能够识别并确定侵权用户。若发生用户侵权情形，我司将有权对其采取暂停服务、查封账号、提起诉讼等救济措施。
		<br/>
		3、用户确定在注册账号前已经了解本须知全部内容，对麻瓜编程维权手段没有任何异议。
		<br/>
		4、如用户违反本服务条款中的内容，麻瓜编程有权在不通知用户的情况下立即采取上述维权措施，且不退还任何已缴纳的收费服务费用。
		<br/>
		5、麻瓜编程有权但无义务对用户发布的内容进行审核，有权根据相关证据结合《侵权责任法》、《信息网络传播权保护条例》等法律法规对侵权信息进行处理。
		</p>
		<h2>四、隐私政策</h2>
		<p>
		1、尊重用户个人隐私信息的私有性是麻瓜编程的原则，麻瓜编程将通过技术手段、强化内部管理等办法充分保护用户的个人隐私信息，除法律或有法律赋予权限的政府部门要求或事先得到用户明确授权等原因外，麻瓜编程保证不对外公开或向第三方透露用户个人隐私信息，或用户在使用服务时存储的非公开内容。同时，为了运营和改善麻瓜编程的技术与服务，麻瓜编程将可能会自行收集使用或向第三方提供用户的非个人隐私信息，这将有助于麻瓜编程向用户提供更好的用户体验和服务质量。
		</p>
		<h2>五、协议修改</h2>
		<p>
		1、根据互联网的发展和有关法律、法规及规范性文件的变化，或者因业务发展需要，麻瓜编程有权对本协议的条款作出修改或变更，一旦本协议的内容发生变动，麻瓜编程将会直接在麻瓜编程网站上公布修改之后的协议内容，该公布行为视为麻瓜编程已经通知用户修改内容。
		<br/>
		2、如果不同意麻瓜编程对本协议相关条款所做的修改，用户有权并应当停止使用麻瓜编程。如果用户继续使用麻瓜编程，则视为用户接受麻瓜编程对本协议相关条款所做的修改。
		</p>
	</div>

	<div class="tutorialfoot" style="margin-top: 0; padding-bottom: 0;">
		<div class="tfoot">
			<div class="sectionbox" style="width: 1200px; overflow: inherit;">
				<div class="cp"><a href="#/protocol" class="protocol">用户协议</a>&copy;北京螃蟹科技有限公司 京ICP备15047012号</div>
				<div class="icons">
					<div class="icon icon_weibo">
						<a href="http://weibo.com/u/5914307416" target="_blank" style="color: #77c4d3; text-decoration: none;">
							<img src="images/web/tutorial/icon_weibo.png"><span>关注微博</span>
						</a>
					</div>
					<div class="icon icon_weixin">
						<img src="images/web/tutorial/icon_weixin.png" class="icon_weixin_img">
						<img src="images/web/tutorial/icon_weixin_hover.png" class="icon_weixin_img_hover">
						<span>关注微信</span>
						<img src="images/web/tutorial/wx_qrcode.png" class="wxqrcode">
					</div>
					<div class="icon icon_qq">
						<img src="images/web/tutorial/icon_qq.png"><span>咨询QQ：284965791</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
.protocol {
	padding-bottom: 43px;
	letter-spacing: 0;
}
.protocol * {
	color: #2c3f51;
	font-family: 'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei', 'WenQuanYi Micro Hei', SimSun, Song, sans-serif;
}
.protocol h1, .protocol h2 {
    font-weight: bold;
    margin: 1.2em 0 .6em 0;
}
.protocol p {
	font-size: 15px;
	margin: 0 0 1.1em;
	line-height: 1.6;
}
@media screen and (min-width: 1200px) {
	.contenter .container {
      width: 100%;
	}
}
@media screen and (min-width: 1441px) {
	.contenter .container {
      width: 100%;
	}
}
</style>